.logo {
	$borderColor: text-contrast(white, #d4d4d4, 0.5);
	color: text-contrast(white, $borderColor, 7);
    %line {
        border-top: 1px solid $borderColor;
        content: " ";
        display: block;
        height: 1px;
        width: 20%;
        position: absolute;
        left: 0;
        top: 0.5em;
        z-index: 1;
    }

    position: relative;
    text-align: center;
    border-bottom: solid thin $borderColor;
    h1 {
        &:before {
            @extend %line;
        }
        &:after {
            @extend %line;
            right: 0;
            left: auto;
        }
    }
}