<div ng-cloak class="hero-banner" data-stellar-background-ratio="0.2">
	<div class="overlay"></div>
	<div class="banner-message">
		<h1>Quang Vu</h1>
		<h2>{ Frontend developer }</h2>
	</div>
</div>
<section class="about-me">
	<h2 class="title-box">About me</h2>

	<aside>
		<img class="avatar" src="http://themeforest.nazwa.pl/resume-timeline/img/face.jpg">
	</aside>
	<article>
		<p class="typl8-drop-cap">
			Lorem ipsum dolor sit amet, consectetur adi- piscing elit. Mauris urna tellus, facilisis a libero ut, convallis consectetur ipsum. Ves tibulum dui lectus, volutpat luctus pos- uere ut, volutpat vel justo. In eu ultrices just non porta metus. Quisque ex urna, feugiat se scelerisque at, interdum vitae elit. Vestibulu maximus odio nec luctus. hendrerit ullam a
		</p>
	</article>
</section>

<section>
		<h2 class="title-box">Skills</h2>
</section>

<section>
	<h2 class="title-box">Experience</h2>
</section>

<section>
	<h2 class="title-box">Education</h2>
</section>

<section>
	<h2 class="title-box">Contact me</h2>
</section>