<div class="logo">
	<h1>Quang Vu</h1>
	<h4>Software engineer/Frontend developer</h2>
</div>
<!-- ABOUT ME -->
<section class="section">
	<aside class="section-left">
		<h2>About me</h2>
		<h5>Personal statement<br /> and contact info</h5>
	</aside>
	<article class="section-content">
		<span class="circle"><img style="float:left" src="img/mypic2.png" alt=""/></span>
		<p>Experienced with working independently as well as in group. Love problem solving especially in programming related topics and new technologies. Fast learner with deep understanding of interactive design and human computer interactions.</p>
		
	</article>
	<div class="section-right">
		<div class="social">
			<ul>
				<li><a href="#"><img src="img/icons/facebook.png" alt="" /></a></li>
				<li><a href="#"><img src="img/icons/linkedin.png" alt="" /></a></li>
				<li><a href="#"><img src="img/icons/google-plus.png" alt="" /></a></li>
			</ul>
		</div>
		<div class="contact-info">
			<ul>
				<li><span class="icon-mobile"></span><a>076 2040030</a></li>
				<li><span class="icon-location"></span>
				<a>Alsättersgatan 13B <br/>58435 Linköping</a></li>
				<li><span class="icon-mail"></span><a>quavun@gmail.com</a></li>
			</ul>
		</div>
	</div> 
</section>