.about-me {
    $bgcolor: #D5D5D5;
    $leftwidth: 5;
    $centerwidth: 2;
    $rightwidth: 5;
    position: relative;
    .who-am-i {
        @include span($leftwidth);
        padding: 3em 0;
        h3, h4 {
            text-align: center;
        }
        p {
            max-width: none;
            padding: 0 2em;
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: span($leftwidth);
            background-color: #4ac2be;
            height: 100%;
            z-index: -1;
        }
        @include fillColumn(#4ac2be, span($leftwidth), 0);
    }
    .avatar {
        @include span($centerwidth);
        img {
            width: 80%;
            height: auto;
            border-radius: 50%;
            box-shadow: 1px 1px 10px 5px $bgcolor;
            border: solid thick white;
            display: block;
            margin: 2em auto;
        }
        button {
            @include formalButton;
            position: absolute;
            bottom: 2em;
            left: 50%;
            transform: translateX(-50%);
        }
        @include fillColumn(white, span($centerwidth), span($leftwidth));
    }
    .contact {
        @include span($rightwidth last);
        padding: 3em 0;
        p {
            padding-left: 1em;
        }
        .social {
            display: block;
            text-align: center;
            ul {
                li {
                    display: inline-block;
                    position: relative;
                    padding: 0.5em 1em;
                    margin: 0 1em;
                    min-width: 2em;
                    a {
                        font-size: 2em;
                        text-decoration: none;
                        color: white;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        height: auto;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: solid thin white;
                        transform: rotate(45deg);
                    }
                    &:hover {
                        .fa {
                            color: $header-bg;
                            @include transition(all 0.2s ease-in);
                        }
                        &:after {
                            border-color: $header-bg;
                            @include transition(all 0.2s ease-in);
                        }
                    }
                }
            }
        }
        .contact-info {
            max-width: 80%;
            margin: 5em auto;
            fieldset {
                border: solid thin white;
                legend {
                    text-align: center;
                }
                ul {
                    li {
                        padding-left: 1em;
                    }
                }
            }
        }
        @include fillColumn(#3eafab, span($rightwidth), span($leftwidth + $centerwidth));
    }
}