.experience {
    background-color: white;
    .time-line {
        padding: $column-padding;
        .time-line-item {
            padding: 1em 0;
            border: solid thin red;
            @include clearfix;
            .time-point {
                background-color: #00ADEF;
                @include absolutCentering;
                top: 0;
            }
        }
        .right {
        	position: relative;
            .experience-item {
                @include span(6 last);
                @include pre(6);
            }
        }
        .left {
        	position: relative;
            .experience-item {
                @include span(6);
                @include post(6 last);
            }
        }
    }
}