.skills {
    $bg-color: white;
    position: relative;
    background-color: white;
    .language {
        padding: $column-padding span(1);
        padding-bottom: 0;
        h5 {
            font-family: 'Droid Sans', 'san-serif';
            color: text-constrast(white, $bg-color, 4);
        }
    }
    .programming {
        padding: $column-padding;
        .bar-container {
            padding: 0 span(1);
            margin-top: 3em;
            .progress-bar {
                margin: 1em 0;
            }
        }
    }
    .hobbies {
        padding: $column-padding span(1);
        h4 {
            display: none;
        }
        .gallery {
            .gallery-item {
                img {
                    margin: 0 0.5em;
                    border: none;
                    height: 15em;
                }
            }
        }
    }
}