<div class="layout">
	<h1 translate>Layout with Susy</h1>
	<p>Susy is an awsome and lightweight library to layout the webpage whenever needed. Susy can beconfigured with many different settings. This is a very simple demo of Susy in action</p>
	<div class="row">
		<h3>row</h3>
	</div>

	<div class="row">
		<div class="first-half">
			<h3>col6</h3>
		</div>
		<div class="second-half">
			<h3>col6</h3>
		</div>
	</div>
	<div class="row">
		<div class="box1">
			<h3>Box 1</h3>
		</div>
		<div class="box2">
			<h3>Box 2</h3>
			<div class="box3">
				<h4>Box 3</h4>
			</div>
			<div class="box4">
				<h4>Box 4</h4>
				<div class="box41">
					<h4>Box 4-1</h4>
					
				</div>
				<div class="box42">
					<h4>Box 4-2</h4>
					
				</div>
			</div>
		</div>
	</div>

	<div class="gallery">
		<div class="gallery-item">
			item1
		</div>

		<div class="gallery-item">
			item2
		</div>

		<div class="gallery-item">
			item3
		</div>

		<div class="gallery-item">
			item4
		</div>

		<div class="gallery-item">
			item5
		</div>

		<div class="gallery-item">
			item6
		</div>

		<div class="gallery-item">
			item7
		</div>

		<div class="gallery-item">
			item8
		</div>
	</div>
</div>