// Breakpoint responsive defaults
$breakpoints : (
	'tablet' : em(640),
	'desktop' : em(1200)
);

 $font-sans: Oswald, 'Helvetica Neue', Helvetica, Arial !default;
 $font-serif: 'Droid sans', serif;
 $font-mono: 'Lucida Console', Monaco, monospace;
 $text-color: #000;
 $base-vertical-unit: 6px;
 $base-line-multi: 4;
 $base-font-size: 16px;
 $ms-ratio: 1.414;
 $paragraph-indent: true;
 $paragraph-justify: true;
 $load-typesetted: true;