.home {
    padding: 1em;
    //margin-bottom: emRhythm(10, $ms-down1);
    border-color: #000;
    border-style: solid;
    border-left: none;
    border-right: none;
    //@include rhythmBorderBottom(10px, 3, $ms-down1);
}